@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AmericanTypewriter";
  font-weight: 500;
  src: url("/public/fonts/american-typewriter.ttf") format("truetype");
  font-display: swap;
}
body {
  margin: 0;
  font-family: "AmericanTypewriter", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
